<!--
  Generated template for the FindpeoplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->





<ion-header>

  <ion-navbar color="blue">
    <ion-toolbar>

      <button ion-button color="color5" (click)='load3()' icon-start>
        <ion-icon name="home"></ion-icon>

      </button>
      <button ion-button color="color5" color5 (click)='load6()' icon-start>
        <ion-icon name="notifications"></ion-icon>

      </button>

      <button ion-button color="color5" color5 (click)='load()' icon-start>
        <ion-icon name="chatboxes"></ion-icon>
      </button>


      <button ion-button color="color5" color5 (click)='load2()' icon-start>
        <ion-icon name="md-person-add"></ion-icon>

      </button>
      <button ion-button color="dark" icon-start>
        <ion-icon name="menu"></ion-icon>
      </button>


    </ion-toolbar>

  </ion-navbar>
</ion-header>






<ion-content padding>




  <ion-content class="back">
    <ion-searchbar (ionInput)="getTopics($event)">

    </ion-searchbar>


    <ion-list>
      <ion-item *ngFor="let topic of People">
        {{ topic }}
      </ion-item>
    </ion-list>


    <ion-card>

      <ion-list>
        <ion-item>

          <h3>People</h3>

        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item *ngFor="let student of items | async" (click)="showOptions(student.id, student.name)">
          <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <img src="../assets/th.jpg">
              </ion-avatar>
            </ion-item>
            <ion-item>
              <h1>{{student.name}}</h1>
            </ion-item>
          </ion-list>
        </ion-item>

      </ion-list>



      <!-- <ul>
          <li class="text" *ngFor="let student of items | async">
            {{student}} <br>
          </li>
        </ul> -->
      <!-- <ion-list>
            <ion-item>
              <ion-list>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="../assets/th.jpg">
                  </ion-avatar>
                  
                  <h3>ADE</h3>
                  
                  
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>


          <ion-list>
              <ion-item>
                <ion-list>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="../assets/th.jpg">
                    </ion-avatar>
                    
                    <h3>ABC</h3>
                    
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list> -->



    </ion-card>





    <ion-card>

      <ion-list>
        <ion-item>

          <h3>Suggestion</h3>

        </ion-item>
      </ion-list>



      <ion-list>
        <ion-item>
          <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <img src="../assets/th.jpg">
              </ion-avatar>

              <h3>ABC</h3>

            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card>





    <ion-content padding>


    </ion-content>