page-tunibook {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          width: 30%;
          height: 90%;
          margin-left: 30%;
        
          
          
        }
      
       h3{
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }
    }
}
